<form action="/submit1">
List Your Givens:
<br><br>
1.
<select name= "given1">
  <option value="acceleration">acceleration</option>
  <option value="initial_velocity" selected>initial_velocity</option>
  <option value="final_velocity">final_velocity</option>
  <option value="time">time</option>
  <option value="displacement">displacement</option>
</select><br><br>
2.
<select name="given2">
  <option value="acceleration">acceleration</option>
  <option value="initial_velocity">initial_velocity</option>
  <option value="final_velocity" selected>final_velocity</option>
  <option value="time">time</option>
  <option value="displacement">displacement</option><br>
</select><br><br>
3.
<select name="given3">
  <option value="acceleration">acceleration</option>
  <option value="initial_velocity">initial_velocity</option>
  <option value="final_velocity">final_velocity</option>
  <option value="time"selected>time</option>
  <option value="displacement">displacement</option><br>
</select><br><br>

<input type="submit" value="Submit">
</form>

