<form action="/submit">
  acceleration: <input type="text" name="acceleration"><br>
  initial velocity: <input type="text" name="initial_velocity"><br>
  final  velocity: <input type="text" name="final_velocity"><br>
  time: <input type="text" name="time"><br>
  displacement: <input type="text" name="displacement"><br>
  <br>

  Which variable do you want to find?
  <br>
  <input type="radio" name="unit" value="acceleration" checked>acceleration
  <br>
  <input type="radio" name="unit" value="initial velocity"checked>initial velocity
  <br>
  <input type="radio" name="unit" value="final velocity"checked>final velocity
  <br>
  <input type="radio" name="unit" value="time"checked>time
  <br>
  <input type="radio" name="unit" value="displacement">displacement
  <br>
  <input type="submit" value="Submit">
</form>